button {
    background: pink;
}

label {
/*    background: lightgreen; */
}

image {
    background: lavender;
}

button image {
    background: lightblue;
}

menuitem {
/*    background: plum; */
}

menu image {
    background: lightyellow;
}

menubar menuitem label {
    background: honeydew;
}

menubar label {
    background: lightcoral;
}

/*
menu menuitem image {
    background: lemonchiffon;
    margin-left: -24px;
}
*/

.ShiftIcon {
    background: lemonchiffon;
    margin-left: -24px;
}

.MyMenuItem {
    background: lightgreen;
}

#MyMenuItem2 {
    background: plum;
}

/* Failed attempts to assign 'class' or 'id' in .ui file */

mylabel, MyLabel {
    background: red;
}

#mylabel, #MyLabel {
    background: red;
}

.mylabel, .MyLabel {
    background: red;
}

#MySubMenu {
    background: red;
}

#MySubMenuButtons {
    background: red;
}

.MySubMenuButtons {
    background: red;
}
